/* GENERAL */

*{
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

.sfondo{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom,
 rgb(0, 150, 136) 17vh,rgb(219, 219, 212) 0vh);
}

.box-chat{
  display: flex;
  width: 80%;
  height:700px; 
}

/* main col-left */
/* main head col-left */

div.col-left{
  display: flex;
  flex-direction: column;
  width: 40%;
  background-color: rgb(255, 255, 255);
}

div.box-head{
  display: flex;
  justify-content: space-between;
  background-color: rgb(234,234,234);
}

div.head-left,
div.head-right{
  width: 50%;
  display: flex;
}


div.head-left img,
div.head-right img{
  width: 45px;
  border-radius: 50%;
  margin: 10px;
}

div.head-left p,
div.head-right p{
  display: inline-block;
  margin-top: 25px;
  
}

.head-box-right{
  width: 50%;
  display: flex  ;
  padding-top: 22px;
  justify-content: flex-end;

}

.head-box-right i{
  margin-right: 20px;
  font-size: 1.5rem;
  color: rgb(170, 170, 170);
  cursor: pointer;
}

.head-box-right i:hover,
.icone-note i:hover,
.foot-box-right i:hover{
  color: rgb(0, 150, 136);
}

/* /main head col-left */
/* suono notifiche */

.icone-note{
  padding: 15px 0px 15px 15px;
  background-color: rgb(142, 218, 252);
  
}

.icone-note p{
  display: inline-block;
  
}

.icone-note h6{
  margin-left: 70px;
  margin-top: -13px;
  text-decoration: underline;
  color: rgb(76, 116, 133);

}

.icone-note i {
  padding: 15px 13px;
  border-radius: 50%;
  color: rgb(142, 218, 252);
  background-color: white;
  margin-right: 10px;
  font-size: 1.5rem;
  cursor: pointer;
}

/* /suono notifiche */
/* btn e barra ricerca */

.control-bar{
  margin: 5px;
}

.control-bar .btn:hover{
  background-color: rgb(230, 230, 230);
}


.control-bar .btn{
  background-color: white;
  padding: 8px 25px;
  border: 1px solid  rgb(230, 230, 230);
  cursor: pointer;
}

.control-bar input{
  width: calc(100% - 70.33px);
  padding: 8px;
  border: 1px solid  rgb(230, 230, 230);
  cursor: pointer;
}
/* /btn e barra ricerca */
/* main col-left */


div .box-users{
  overflow: auto;
}

.utente{
  border-bottom: 1px solid  rgb(230, 230, 230);
}

.card{
  padding: 10px;
}

.utente:hover{
  background-color: rgb(240, 240, 240);
  cursor: pointer;
}

div.card img{
  float: left; 
  width: 50px;
  border-radius: 50%;
  margin-right: 10px; 
}

.card-name{
  padding-bottom: 10px;
}

.orario{
  float: right;
  margin-right: 15px;
  color:  rgb(210, 210, 210);
  font-size: 0.8rem;
}

.card-name small{
  color:  rgb(210, 210, 210);
}
/* /main col-left */
/* main head col-right */

div.col-right{
  display: flex;
  flex-direction: column;
  width: 60%;
  background-image: url(../img/mine.jpg);
  background-position: center;
  background-size: center;
  border-left: 1px solid rgb(200, 200, 200);
}

/* /main head col-right */
/* main chat col-right */

.main-box-right{
  height: 100%;
  overflow: auto;

}

div .main-box{
  margin: 50px;
}

div .sent{
  background-color: rgb(204, 249, 181);
  float: right;
}

div .received{
  background-color: white;
  float: left;
}

div .message{
  padding: 10px;
  border-radius: 10px;
  margin: 15px 0px;
  clear: both;
  max-width: 70%;
  min-width: 40%;
}

div .text-message{
  padding: 10px;
  
}

div .text-message small{
  float: right;
  margin-top: 5px;
}

.chat-off{
  display: none;
}

/* /main chat col-right */
/* footer chat col-right */

.foot-box-right{
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  background-color: rgb(243, 238, 234);
  

}

.foot-box-right input{
  width: 80%;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.foot-box-right i{
  padding: 30px;
  color: rgb(170, 170, 170);
  font-size: 1.5rem;
  cursor: pointer;

}

/* /footer col-right */
/* /main col-right */
/* /MAIN */




