<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- JS data -->
  <script src="https://cdn.jsdelivr.net/npm/dayjs@1.11.2/dayjs.min.js"></script>
  <!-- JS location -->
  <script src="https://cdn.jsdelivr.net/npm/dayjs@1.11.2/locale/it.js"></script>
  
  <link rel="stylesheet" href="css/style.css"/>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

  <title>Vue-BoolZaap</title>
</head>
<body>

  <!-- main avente solo il colore di sfondo e la box di chat -->
  <main id="app" class="sfondo">
    <div class="box-chat">

      <!-- colonna sinistra -->
      <!-- head della colonna -->
      <div class="col-left">
        <div class="box-head">
          <div class="head-left">
            <img src="img/avatar_io.jpg" alt="io">
            <p>Sofia</p>
          </div>

          <div class="head-box-right">
            <i class="fa-solid fa-circle-notch"></i>
            <i class="fa-solid fa-message"></i>
            <i class="fa-solid fa-ellipsis-vertical"></i>
          </div>
        </div>
        <!-- /head della colonna -->
        
        <!-- campanella degli avvisi -->
        <div class="icone-note">
          <i class="fa-solid fa-bell-slash"></i>
          <p>Ricevi notifiche di nuovi messaggi</p>
          <h6>Attiva notifiche desktop</h6>
        </div>
        <!-- /campanella degli avvisi -->

        <!-- btn + barra di ricerca -->
        <div class="control-bar">
          <button class="btn"><i class="fa-solid fa-magnifying-glass"></i>
            </button>
          <input type="text" placeholder="Cerca o inizia una nuova Chat">
        </div>
        <!-- /btn + barra di ricerca -->

        <!-- main utenti + card da ciclare-->
        <div class="box-users">

          <div class="utente"
               :class="{'active' : chatAttiva === index}"  
               v-for="(user, index) in users" 
               @click="mostraChat(index), user.visible = !user.visible "
               >
            <div class="card">
              <img :src="'img/avatar'+ user.avatar +'.jpg'" >
            </div>
            
            <div class="card-name">
              <h3>
                <span>{{user.name}}</span>
                <span class="orario">{{getLastDate(index)}}</span>
              </h3>
              <small>{{getLastMessage(index)}}</small>
            </div>
            
          </div>
          
        </div>
        <!-- /main utenti -->
      </div>
      <!-- /colonna sinistra -->
      
      <!-- colonna destra -->
      <!-- head della colonna -->

      <div class="col-right">
        
        <div class="box-head">
          <div class="head-right">
            <img :src="'img/avatar'+ users[chatAttiva].avatar +'.jpg'" alt="io">
            <p>{{users[chatAttiva].name}}</p>
          </div>

          <div class="head-box-right">
            <i class="fa-solid fa-magnifying-glass"></i></i>
            <i class="fa-solid fa-paperclip"></i>
            <i class="fa-solid fa-ellipsis-vertical"></i>
          </div>
        </div>
        <!-- /head della colonna -->

        <!-- main dei messaggi -->
        <div class="main-box-right">

          <div class="main-box " v-for="(mex,index) in users[chatAttiva].messages" :class="{'chat-off' : users.visible}" >

            <div class="message " :class="mex.status">
              <div class="text-message">
                <h5>{{mex.message}}</h5>
                <small>{{mex.date}}</small>
              </div>
            </div>
            
          </div>
          
        </div>
        <!-- /main dei messaggi -->

        <!--  footer con barra di scrittura -->
        <div class="foot-box-right">
          <div>
            <i class="fa-solid fa-face-smile"></i>
          </div>

          <input type="text" placeholder="Scrivi un messaggio" v-model.trim="stampMessage" @keyup.enter="aggiungiMex(), risposta()">

          <div>
            <i class="fa-solid fa-microphone"></i>
          </div>
        </div>
        <!--  /footer con barra di scrittura -->

      </div>
      <!-- /colonna destra -->

    </div>
  </main>


  <script src="js/script.js"></script>
</body>
</html>